<!DOCTYPE html>
<html>
<title>Autovermietung</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="/css/main.css">
<meta charset="utf-8">
<script src="https://cdn.jsdelivr.net/npm/vue@3.2.31"></script>
<body>
    <main id="app" class="w3-margin-bottom">
        <div class="w3-bar w3-black">
            <a type="button" class="w3-bar-item w3-button" v-on:click="() => setroute('')">Autovermietung</a>
            <a type="button" v-on:click="() => setroute(item.route)" class="w3-bar-item w3-button w3-hide-small" v-for="item in navigationItems">{{item.display}}</a>
            <button class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium" v-on:click="myFunction">&#9776;</button>
        </div>
        <div id="demo" class="w3-bar-block w3-black w3-hide w3-hide-large w3-hide-medium">
            <a type="button" v-on:click="() => setroute(item.route)" class="w3-bar-item w3-button" v-for="item in navigationItems">{{item.display}}</a>
        </div>
        <div id="main-content" class="w3-container w3-content w3-margin-top">
            <template v-if="route == ''">
                <h1 class="w3-center w3-margin-bottom">Autovermietung - Navigation</h1>
                <p class="w3-center w3-large">Klicken Sie einen Abschnitt</p>
                <ul class="w3-ul w3-card">
                    <li type="button" v-on:click="() => setroute(item.route)" class="w3-bar clickable" v-for="item in navigationItems">
                        <div class="w3-bar-item">
                            <span class="w3-large">{{item.display}}</span>
                        </div>
                    </li>
                </ul>
            </template>
            <template v-if="route == 'information'">
                <h1 class="w3-center w3-margin-bottom">Autovermietung - Information</h1>
                <p class="w3-center w3-large">Willkomen zur Autovermietung. Projekt WEBT HS24 vom Jamian Rajakone.</p>
                <p>Die Applikation hat 4 Abschnitte. In der Navigation sieht man alle verfügbare Seitenabschnitte. Hier hat man den Auswahl zwischen Buchung - Eingabenbereich, getätigte Buchungen - Ausgabebereich, Information (aktueller Abschnitt). </p>
                <h2>Buchung - Eingabebereich</h2>
                <p>Hier wählt man zuerst ein Auto aus, welches man buchen möchte. Wenn man klickt, wird man zu einer Abschnitt weitergeleitet, wo man seine Details zur Buchung eingeben kann und danach abschliessen kann.</p>
                <img src="img/booking.gif" class="w3-image w3-border" />
                <h2>Buchung - Ausgabebereich</h2>
                <p>Hier sieht man alle getätigte Buchungen. Diese Buchungen werden abhängig von der gespeicherten Cookie angezeigt.</p>
                <img src="img/alle_buchungen.png" class="w3-image w3-border" />
            </template>
            <template v-if="route == 'eingabe'">
                <h1 class="w3-center w3-margin-bottom">Autovermietung - Buchen (Eingabe)</h1>
                <p class="w3-center w3-large">Wählen Sie ein Auto für die Buchung aus</p>
                <ul class="w3-ul w3-card">
                    <li type="button" v-on:click="() => setroute('selected-car', item)" class="w3-bar clickable"
                        v-if="carList != null" v-for="item in carList">
                        <span class="w3-bar-item w3-button w3-right">{{item.jahrgang}}</span>
                        <div class="w3-bar-item">
                            <span class="w3-large">{{item.marke}} <span v-if="item.verfuegbar == '1'"
                                    class="w3-tag w3-green w3-small">Verfügbar</span><span v-if="item.verfuegbar != '1'"
                                    class="w3-tag w3-red w3-small">Nicht Verfügbar</span></span><br />
                            <span>{{item.modell}}</span>
                        </div>
                    </li>
                </ul>
            </template>
            <template v-if="route == 'selected-car'">
                <div class="w3-panel w3-border w3-border-red w3-pale-red w3-round-large" v-if="param.verfuegbar != '1'">
                    <h1>Nicht verfügbar</h1>
                    <p>Das Auto ist leider schon ausgebucht. Versuchen Sie später einmal.</p>
                </div>
                <div v-if="param.verfuegbar == '1'">
                    <h1 class="w3-center w3-margin-bottom">Jetzt buchen</h1>
                    <div class="w3-card-4">
                        <header class="w3-container w3-light-grey">
                            <h3>{{param.marke}}, {{param.modell}} ({{param.jahrgang}})</h3>
                        </header>
                        <div class="w3-container">
                            <div class="w3-margin-top">
                                <label>Name</label>
                                <input v-model="name" class="w3-input w3-border w3-round-large" type="text" />
                            </div>
                            <div class="w3-margin-top">
                                <label>Datum</label>
                                <input v-model="datum" class="w3-input w3-border w3-round-large" type="date" />
                            </div>
                            <div class="w3-margin-top">
                                <label>Dauer {{dauer}} Monate</label>
                                <input v-model="dauer" class="w3-input w3-border w3-round-large" type="range" min="1"
                                    max="12" step="1" />
                            </div>
                            <hr>
                            <p>Buchen unter {{name}} am {{datum}} für {{dauer}} Monate</p>
                        </div>
                        <button class="w3-button w3-block w3-green" v-on:click="book">+ Buchen</button>
                    </div>
                </div><br /><br />
                <a v-on:click="() => setroute('', null)" class="w3-margin-top clickable w3-text-blue">Zürick</a>
            </template>
            <template v-if="route == 'ausgabe'">
                <h1 class="w3-center w3-margin-bottom">Autovermietung - getätigte Buchungen (Ausgabe)</h1>
                <p class="w3-center w3-large">Klicken Sie auf "Lade Buchungsdaten". Alle Buchungen welche mit dem folgenden Cookie getätigt wurde: user = {{benutzer_id}}</p>
                <button type="button" class="w3-button w3-black w3-margin-bottom" v-on:click="() => loadBookings()">Lade Buchungsdaten</button>
                <ul class="w3-ul w3-card">
                    <li type="button" class="w3-bar clickable"
                        v-if="bookings != null" v-for="item in bookings">
                        <span class="w3-bar-item w3-button w3-right">{{item.dauer}} Monate</span>
                        <div class="w3-bar-item">
                            <span class="w3-large">{{carList.find(x => x.id == item.fahrzeug_id).marke}}</span><br/>
                            <span>{{item.datum}} - {{item.benutzer_name}}</span>
                        </div>
                    </li>
                </ul>
            </template>
        </div>
    </main>
    <div id="confirmBooking" class="w3-modal">
        <div class="w3-modal-content w3-card-4">
          <header class="w3-container w3-green"> 
            <span onclick="document.getElementById('confirmBooking').style.display='none'" class="w3-button w3-display-topright">&times;</span>
            <h2>Erfolgreich gebucht</h2>
          </header>
          <div class="w3-container w3-padding">
            <a type="button" class="w3-text-blue clickable" v-on:click="() => setroute('ausgabe')">Zur getätigten Buchungen</a>
          </div>
        </div>
      </div>
    <script src="js/main.js"></script>
</body>
</html>